body {
  background-color:dimgrey;
}

/* links look the same all the time */
a, a:visited, a:hover, a:active {
  color: blue;
}

.nav {
  align-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(black,dimgrey);
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-between;
  padding: 16px;
}

.avatar img {
  width: 170px;
  height: 159px;
}
.avatar :hover {
  filter: grayscale(100%);
}

/* > 800px wide */
.navigation {
  display: flex;
  flex-flow: row;
  list-style: none;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}
.navigation li {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
}
.navigation li a {
  color: white;
}
.navigation li a:active,
.navigation li a:hover {
  color: skyblue;
}
/* >500px, <=800px wide */
@media all and (max-width: 800px) {
  .nav {
    flex-direction: row-reverse;
  }
  .navigation li {
    font-size: 1.6em;
  }
}

/* <=500px wide */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .navigation li {
    font-size: 1.2em;
  }
  .nav {
    flex-direction: column;
  }
}