@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
/* FROM PURE */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

/* MINE */

body {
  background-color: #CCCCCC;
  padding: 0px 10px 100px 10px;
  font-family: serif;
  background: linear-gradient(black, white);
  background-repeat: no-repeat;
}

h1, h2 {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  color: #CCCCCC;
}

p {
  font-family: Georgia, serif;
  line-height: 1.5;
  color: black;
}

a:active, a:hover {
  filter: grayscale(100%);
}

.posts {
  margin-top: 60px;
}

.site-name {
  color: deepskyblue;
  font-family: 'Bebas Neue', serif;
  font-size: 1.4em;
  width: 100%;
}

/* RESPONSIVE SPECIFIC */

/* < 960px (pure: md) wide */

@media all and (max-width: 769px) {
  div .posts {
    margin-top: -2em;
  }
}