---
layout: base-layout.njk
---
<div class="post">
    <article class="blog-post">
        <h1>{{ title }}</h1>
        <p class="entry-meta">{{ date | readableDate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reading time:&nbsp;{{ readingtime }}</p>
        <p class="blog-post-summary">
        {{ summary | safe }}
        </p>

        <div class="gig-metadata">
            <table class="gig-metadata-table">
                <tbody>
                    <tr>
                        <th>Date</th>
                        <td>{{ date | readableDate }}</td>
                    </tr>
                    <tr>
                        <th>Headline</th>
                        <td>{{ headlineArtist }}</td>
                    </tr>
                    {% if supportArtists and supportArtists.length %}
                    <tr>
                        <th>Support</th>
                        <td>
                            {% for artist in supportArtists %}
                            {{ artist }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Venue</th>
                        <td>{{ venue }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{ city }}, {{ country }}</td>
                    </tr>
                    {% if setlistfm or spotify %}
                    <tr>
                        <th></th>
                        <td>
                            {% if setlistfm %}
                            <a href="{{ setlistfm }}" target="_blank" rel="nofollow" class="external-link">setlist.fm</a>
                            <img class="external-link-icon" src="/img/external-link.svg" alt="Opens in new tab"/>
                            {% endif %}
                            {% if setlistfm and spotify %}&nbsp;&nbsp;{% endif %}
                            {% if spotify %}
                            <a href="{{ spotify }}" target="_blank" rel="nofollow" class="external-link">Spotify</a>
                            <img class="external-link-icon" src="/img/external-link.svg" alt="Opens in new tab"/>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        {{ content | safe }}

        {% if flickr %}
        <div class="gig-flickr-embed">
            <a data-flickr-embed="true" href="{{ flickr }}" title="{{ title }}">
                <img src="{{ flickrThumbnail }}" width="800" height="600" alt="{{ title }}"/>
            </a>
            <script async src="https://embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </div>
        {% endif %}

    </article>
</div>
