---
layout: base-layout.njk
title: Apps
metadesc: Interactive tools and web apps built by Adrian Parker, all running entirely in your browser.
permalink: /apps/index.html
---
<h1 class="visually-hidden">Apps</h1>
<div class="posts">
    <hr>

    {% for app in collections.app | reverse %}

    <section>
        <p class="entry-meta">{{ app.data.date | readableDate }}</p>
        <h2 class="entry-title">{{ app.data.title }}</h2>
        <p class="blog-post-summary">
            {{ app.data.summary | safe }}
        </p>

        <a href="{{ app.page.url | url }}">Open {{ app.data.title }}...</a>
    </section>
    <hr>

    {% endfor %}
</div>
