---
layout: base-layout.njk
title: Gigs
metadesc: Concert reviews by Adrian Parker - all gigs, most recent first.
permalink: /gigs/index.html
---
<h1 class="visually-hidden">Gigs</h1>
<div class="posts">
    <hr>

    {% for post in collections.gig | reverse %}

    <section>
        <p class="entry-meta">{{ post.data.date | readableDate }}</p>
        <h2 class="entry-title">{{ post.data.title }}</h2>
        <p class="blog-post-summary">
        {{ post.data.summary | safe }}
        </p>
            {{ post.page.excerpt | md | safe }}

            <a href="{{ post.page.url | url }}">Read more...</a>
    </section>
    <hr>

    {% endfor %}
</div>
