---
layout: base-layout.njk
title: Adrian Parker's blog
---
<div class="posts">
    <hr style="margin-top: -10px; border-color: #666666;">

    {% for post in collections.post | reverse %}
    
        <section class="blog-post">
            <h3>{{ post.data.date.toLocaleDateString('en-GB',{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reading time:&nbsp;{{ post.data.readingtime }}</h3>
            <h1>{{ post.data.title }}</h1>
            <p class="blog-post-summary">
            {{ post.data.summary | safe }}
            </p>
                {{ post.page.excerpt | safe }}&nbsp;<a href="{{ post.page.url }}">Read the whole post</a>
            </p>
        </section>
        <hr style="margin-top: 50px; border-color: #666666;">
    
    {% endfor %}
</div>
<br>
