---
layout: base-layout.njk
title: Adrian Parker's blog
---
<div class="posts">
    <hr>

    {% for post in collections.post | reverse %}
    
    <section>
        <h3>{{ post.data.date.toLocaleDateString('en-GB',{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reading time:&nbsp;{{ post.data.readingtime }}</h3>
        <h1>{{ post.data.title }}</h1>
        <p class="blog-post-summary">
        {{ post.data.summary | safe }}
        </p>
            {{ post.page.excerpt | safe }}
        </p>
            <a href="{{ post.page.url }}">Read the whole post...</a>
    </section>
    <hr>
    
    {% endfor %}
</div>