{# Mailchimp embed. The absolutely-positioned input is their bot honeypot. #}
<div id="mc_embed_signup">
    <form
        action="https://adrianparker.us6.list-manage.com/subscribe/post?u=03ecfd735d95e029717463a19&amp;id=0a7baede86"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
        target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Never miss a post - subscribe&colon;&nbsp;</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                placeholder="email address" required>
            <div class="subscribe-honeypot" aria-hidden="true"><input type="text"
                    name="b_03ecfd735d95e029717463a19_0a7baede86" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                class="button subscribe_button">
        </div>
    </form>
</div>
